@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Poppins&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Poppins&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #EEE;
  font-size: 16px;
  overflow-x: hidden;
  height: 1080px;
  overflow: hidden;
}

article,
aside,
details,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-decoration: none;
}

img {
  border: none;
}

*:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes bgslide {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }
  to {
    left: 0;
    width: 1000px;
    opacity: 1;
  }
}

@keyframes bgslide {
  from {
    left: -100%;
    width: 0;
    opacity: 0;
  }
  to {
    left: 0;
    width: 1000px;
    opacity: 1;
  }
}
.parent .nav {
  z-index: 10;
}
.parent .nav a img {
  margin: 1.5em 0em 0em 4em;
  width: 12%;
  height: auto;
}
.parent .bg-illustration {
  z-index: 10;
  -webkit-clip-path: polygon(44% 19%, 73% 38%, 94% 56%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 7%);
          clip-path: polygon(44% 19%, 73% 38%, 94% 56%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0% 43%, 0 7%);
  width: 1000px;
  background-size: cover;
  height: 850px;
  background-position-x: 20%;
  margin: 5% 0% 0% 0%;
  background-image: url("../../../Assets/loginImg.jpg");
  -webkit-animation: bgslide 2.3s forwards;
  animation: bgslide 2.3s forwards;
}
.parent .login {
  position: absolute;
  top: 17%;
  left: 50%;
  z-index: 10;
  max-height: 100vh;
  overflow-Y: auto;
  margin: 0 auto;
  width: calc(100% - 1000px);
}
.parent .login .container1 {
  width: 505px;
  margin: 0 auto;
  position: relative;
}
.parent .login .container1 .text {
  margin: -10% 0% 0% 0%;
}
.parent .login .container1 .text h1 {
  margin-top: 100px;
  font-size: 3rem;
  font-weight: bolder;
  font-family: Inter;
  font-weight: 300;
  letter-spacing: -2.5%;
}
.parent .login .container1 .text p {
  margin-top: 0%;
  font-size: 1rem;
  font-family: Inter;
  font-weight: 300;
  letter-spacing: -2.5%;
}
.parent .login .container1 .login-form {
  position: relative;
  z-index: 15;
  margin: 15% 0% 0% 0px;
}
.parent .login .container1 .login-form .form {
  display: grid;
}
.parent .login .container1 .login-form .form .email {
  width: 25em;
  height: 3.75em;
  background: rgb(255, 255, 255);
  opacity: 1;
  box-shadow: 0px 8px 32px 5px rgba(43, 43, 43, 0.041);
  box-shadow: inset 0px 8px 24px 3px rgba(43, 43, 43, 0.027);
}
.parent .login .container1 .login-form .form .email #email-svg {
  width: 10%;
  height: auto;
  margin: 2.25% 0% 0% 3%;
}
.parent .login .container1 .login-form .form .email ul {
  margin: -11% 0% 0% 17%;
  list-style-type: none;
  line-height: 20px;
}
.parent .login .container1 .login-form .form .email ul li label {
  font-size: 1rem;
  color: #000;
  opacity: 1;
  font-family: Inter;
  font-weight: 300;
}
.parent .login .container1 .login-form .form .email ul li input {
  font-size: 1rem;
  color: #000;
  opacity: 0.85;
  font-family: Inter;
  font-weight: 400;
  font-weight: normal;
  background: #fff;
  height: auto;
  border: none;
  padding: 0% 0%;
  width: 20em;
}
.parent .login .container1 .login-form .form .email ul li input::-moz-placeholder {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 200;
  color: #000;
  opacity: 1;
}
.parent .login .container1 .login-form .form .email ul li input:-ms-input-placeholder {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 200;
  color: #000;
  opacity: 1;
}
.parent .login .container1 .login-form .form .email ul li input::placeholder {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 200;
  color: #000;
  opacity: 1;
}
.parent .login .container1 .login-form .form .pass {
  width: 25em;
  height: 3.75em;
  background: rgb(255, 255, 255);
  opacity: 1;
  margin: 1% 0% 0% 0%;
  box-shadow: 0px 8px 32px 5px rgba(43, 43, 43, 0.041);
  box-shadow: inset 0px 8px 24px 3px rgba(43, 43, 43, 0.082);
}
.parent .login .container1 .login-form .form .pass #pass-svg {
  width: 10%;
  height: auto;
  margin: 2.25% 0% 0% 3%;
}
.parent .login .container1 .login-form .form .pass ul {
  margin: -9% 0% 0% 17%;
  list-style-type: none;
  line-height: 20px;
}
.parent .login .container1 .login-form .form .pass ul li label {
  font-size: 1rem;
  color: #000;
  opacity: 1;
  font-family: Inter;
  font-weight: 300;
}
.parent .login .container1 .login-form .form .pass ul li input {
  font-size: 1rem;
  color: #000;
  opacity: 0.85;
  font-family: Inter;
  font-weight: 400;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.9607843137);
  height: auto;
  border: none;
  padding: 0% 0%;
  width: 20em;
}
.parent .login .container1 .login-form .form .pass ul li input::-moz-placeholder {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 200;
  color: #000;
  opacity: 1;
}
.parent .login .container1 .login-form .form .pass ul li input:-ms-input-placeholder {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 200;
  color: #000;
  opacity: 1;
}
.parent .login .container1 .login-form .form .pass ul li input::placeholder {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 200;
  color: #000;
  opacity: 1;
}
.parent .login .container1 .login-form .form .btns {
  margin: 5% 0% 0% 0%;
  display: grid;
  grid-template-columns: 14em 14em;
  grid-template-rows: 5em;
}
.parent .login .container1 .login-form .form .btns .b2 button {
  border: none;
  width: 14em;
  height: 5em;
  margin: auto auto;
  background: #2f79bd;
  border-radius: 186px;
  -webkit-border-radius: 186px;
  -moz-border-radius: 186px;
  -ms-border-radius: 186px;
  -o-border-radius: 186px;
  box-shadow: inset 0px -26px 98px -16px rgba(0, 0, 0, 0.1);
}
.parent .login .container1 .login-form .form .btns .b2 button h3 {
  font-size: 0.9rem;
  color: #f1f1f1;
  opacity: 1;
  font-family: Inter;
  font-weight: 600;
  text-shadow: 0px 0px 16px rgb(250, 250, 250);
}
.parent .login .container1 .login-form .form .btns .b2 button:hover {
  background: #14416b;
}
.parent .login .container1 .login-form .form .remember-form {
  position: relative;
}
.parent .login .container1 .login-form .form .remember-form svg {
  width: 3%;
  height: auto;
  margin: 3% 0% 0% 2%;
}
.parent .login .container1 .login-form .form .remember-form span {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  opacity: 1;
  font-family: Inter;
  font-weight: 800;
  padding-left: 1%;
}
.parent .login .container1 .login-form .form .remember-form svg:active path {
  fill: #23DC3D;
}
.parent .login .container1 .login-form .form .check {
  margin: 7% 0% 0% 0%;
}
.parent .login .container1 .login-form .form .check .two-guess .unorder .inline-text-group {
  position: relative;
  display: inline-flex;
}
.parent .login .container1 .login-form .form .check .two-guess .unorder .inline-text-group h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  font-family: "Raleway", sans-serif;
}
.parent .login .container1 .login-form .form .check .statut .order {
  margin-top: 3%;
}
.parent .login .container1 .login-form .form .check .statut .order .inline-group {
  position: relative;
  display: inline-flex;
}
.parent .login .container1 .login-form .form .check .statut .order .inline-group h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  font-family: "Raleway", sans-serif;
}/*# sourceMappingURL=style.css.map */